.gitlab-ci.yml

# Docker files
docker-compose.yml
docker-compose.*.yml
!docker-compose.template.yml

# Environment variables
.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage

# Virtual Environment
venv/
env/
.venv/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db